In [25]:
import pandas as pd
df = pd.read_csv(f"raw_data/ust_aq_timeseries_2023.csv")
df = df.sort_values(by=['endtime'])
so2_df = df[df['station_name'] == 'Hafnir gamli skóli']
# so2_df[so2_df['SO2'] == 610.341000]
so2_df.tail()

,station_name,pollutantnotation,endtime,the_value,resolution,verification,validity,station_local_id,concentration
296352,Hafnir gamli skóli,SO2,2023-07-07 10:00:00,627.300,1h,3,1,STA-IS0059A,µg/m3
296351,Hafnir gamli skóli,SO2,2023-07-07 11:00:00,630.079,1h,3,1,STA-IS0059A,µg/m3
296350,Hafnir gamli skóli,SO2,2023-07-07 12:00:00,624.140,1h,3,1,STA-IS0059A,µg/m3
296349,Hafnir gamli skóli,SO2,2023-07-07 13:00:00,616.863,1h,3,1,STA-IS0059A,µg/m3
296348,Hafnir gamli skóli,SO2,2023-07-07 14:00:00,610.341,1h,3,1,STA-IS0059A,µg/m3

In [26]:
df = pd.read_csv(f"raw_data/ust_aq_timeseries_2023.csv")

pivot_df = pd.pivot_table(df, values='the_value', index=['station_name', 'endtime'],
                       columns=['pollutantnotation'], aggfunc=lambda x: 'n/a' if x.empty else x.iloc[0]).rename_axis(columns=None).reset_index()

# Convert the 'time' column to datetime format
pivot_df['endtime'] = pd.to_datetime(pivot_df['endtime'])

pivot_df.sort_values(by=['station_name', 'endtime'], inplace=True)

# Set 'time' column as the DataFrame's index
pivot_df.set_index('endtime', inplace=True)

# Resample to create complete hourly time range for each station
# The 'ffill' method fills missing values using the last available value (forward fill)
# The 'fillna' method replaces any remaining missing values with 'N/A'
hourly_range = pd.date_range(start=pivot_df.index.min(), end=pivot_df.index.max(), freq='1H')
result = pivot_df.groupby('station_name').apply(lambda x: x.reindex(hourly_range, method='ffill')).fillna('N/A')

# Reset the MultiIndex
reset_df = result.reset_index(level='station_name', drop=True)
df = reset_df.reset_index().rename(columns={'index': 'endtime'})
df = df[df['station_name'] != 'N/A']

# merge df new df with pivoted df to remove ffilled readings
df = df [['station_name', 'endtime']]
pivot_df = pivot_df.reset_index().rename(columns={'index': 'endtime'})

df2 = pd.merge(df, pivot_df,  how='left', left_on=['endtime','station_name'], right_on = ['endtime','station_name'])

In [28]:
so2_df = df2[df2['station_name'] == 'Hafnir gamli skóli']
so2_df[so2_df['SO2'] == 610.341000]

,station_name,endtime,CO,H2S,NO,NO2,NOX as NO2,PM1,PM10,PM2.5,SO2
33452,Hafnir gamli skóli,2023-07-07 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,610.341

In [22]:
pivot_df = pivot_df.reset_index().rename(columns={'index': 'endtime'}).head(3)

        CO  H2S   NO  NO2  NOX as NO2  PM1  PM10  PM2.5  SO2
count  0.0  0.0  0.0  0.0         0.0  0.0   0.0    0.0  0.0
mean   NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
std    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
min    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
25%    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
50%    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
75%    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN
max    NaN  NaN  NaN  NaN         NaN  NaN   NaN    NaN  NaN

In [1]:
import pandas as pd

df = pd.read_csv('raw_data/station_data.csv')

In [7]:
df.head()

,name,local_id,municipality,activity_begin,activity_end,network_name,network_local_id,station_classification,area_classification,altitude,...,SO4 (H2SO4 aerosols) (SO4--),pH,BaP,m,p-C6H4(CH3)2,CH4,C6H5-CH3,C6H6,CO,THC (NM)
0,Flúðir Heimaland (Suðurland),STA-IS0016A,Flúðir,2010-04-29,2010-07-07,Environment Agency of Iceland,NET-IS002A,background,rural,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reykjanes Hólmbergsbraut,STA-IS0038A,Reykjanesbær,2016-02-04,2018-06-05,Sameinað Sílikon hf.,NET-IS008A,industrial,suburban,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PCC suður,STA-IS0050A,Húsavík,2016-12-01,NaN,PCC BakkiSilicon hf,NET-IS012A,industrial,suburban,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Reykjavík Keldnaholt ozone,STA-IS0004A,Reykjavík,2001-11-01,2010-12-31,Environment Agency of Iceland,NET-IS002A,background,suburban,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Reykjavik Husdyragardurinn,STA-IS0006A,Reykjavík,2002-08-08,NaN,Environment Agency of Iceland,NET-IS002A,background,urban,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['latitude']

0     63.599753
1     64.013617
2     66.054858
3     64.139999
4     64.138861
5     63.999990
6     65.677773
7     64.116315
8     64.101539
9     64.089652
10    65.897840
11    66.056639
12    64.356571
13    63.544998
14    64.044160
15    63.751332
16    64.334164
17    65.030400
18    64.097221
19    64.058867
20    66.045550
21    65.040073
22    65.642020
23    64.167942
24    64.136333
25    64.561951
26    64.381650
27    64.142000
28    65.640892
29    64.004213
30    63.970504
31    64.373583
32    64.104950
33    65.666476
34    64.153354
35    64.109444
36    64.070150
37    64.115555
38    66.079276
39    64.094233
40    64.019769
41    63.920942
42    65.012539
43    65.688783
44    64.042757
45    63.985000
46    64.032728
47    64.132312
48    65.030316
49    63.931808
50    64.130100
51    65.623994
52    63.786973
53    64.008633
54    64.145000
55    63.852005
56    66.001940
57    63.419458
58    65.684092
Name: latitude, dtype: float64